@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.menu a.active {
  @apply bg-blue-500 dark:bg-blue-700 text-white font-semibold;
}

.menu a {
  @apply text-gray-700 dark:text-gray-300;
}


.gradient-sunset {
  background-image: linear-gradient(
  90deg, 
  #011f4b 0%, /* Dark Navy Blue */
  #03373d 1%, /* Your Secondary Teal */
  #005b96 100% /* Medium Blue */
  
);
}